<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Doładuj konto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link th:href="@{/css/add-balance.css}" rel="stylesheet">
</head>
<body>
<th:block th:replace="nav.html"></th:block>
<div class="container">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Doładuj konto</h2>
                </div>
                <div class="card-body">
                    <form id="balance-form" method="post" role="form" th:action="@{/api/user/add-balance}">
                        <label for="value">Kwota</label>
                        <input type="number" min="0" placeholder="10" name="value" id="value">
                        <button type="submit">Doładuj</button>
                    </form>
                    <div id="message"></div>
                </div>
            </div>
        </div>
</div>
<script th:src="@{/js/add-balance.js}"></script>
</body>
</html>