<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Podgląd wizyt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="../static/css/visits.css" th:href="@{/css/visits.css}" rel="stylesheet">
</head>
<body>
<th:block th:replace="nav.html"></th:block>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Wizyty</h2>
                <span id="balance" th:text="|Stan konta: ${balance} zł|"></span>
            </div>
            <div class="card-body">
                <div class="container">
                    <div th:each="visit : ${visits}">
                        <ul>
                            <li class="visit">
                                <div th:class="surgeries" th:attr="data-customdata=${visit.getId()}">
                                    <span th:text="|${#temporals.format(visit.getStart(), 'EEEE, d MMMM yyyy, HH:mm')}|"></span>
                                    <div th:each="surgery : ${visit.getSurgeries()}">
                                        <div class="surgery" th:attr="data-price=${surgery.getPrice()}" th:text="|zabieg: ${surgery.getName()}, cena: ${surgery.getPrice()}zł|"></div>
                                    </div>
                                    <div th:if="${visit.isPaid()}">
                                        <span class="paid-label">Zapłacone</span>
                                    </div>
                                    <button th:if="${!visit.isPaid() && visit.getDoctor().getId() != user.getId()}" th:attr="data-id=${visit.getId()}">Zapłać</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="../static/js/visits.js" th:src="@{/js/visits.js}"></script>
</body>
</html>